{{define "navbar"}}
<nav class="flex justify-between h-12 ">
	<ul class="flex ml-6 align-middle ">
		<li class="mr-6">
			<a href="/" class="text-blue-500 hover:text-blue-800">Home</a>
		</li>
		<li class="mr-6">
			<a href="/customers" class="text-blue-500 hover:text-blue-800">Customers</a>
		</li>
		<li class="mr-6">
			<a href="/orders" class="text-blue-500 hover:text-blue-800">Orders</a>
		</li>
		<li class="mr-6">
			<a href="/forecast" class="text-blue-500 hover:text-blue-800">Forecast</a>
		</li>
		<li class="mr-6">
			<a href="/location" hx-boost="false" class="text-blue-500 hover:text-blue-800">Location</a>
		</li>
	</ul>
	<div>
		<a class="text-blue-500 hover:text-blue-800" href="#">Login</a>
	</div>
</nav>
{{end}}
